body{
	font-family:Courier;
	text-align: center;
	background-image: url("http://us.123rf.com/450wm/panos3/panos31403/panos3140300029/26403985-television-screen-with-static-noise-caused-by-bad-signal-reception.jpg?ver=6");
	background-repeat: repeat;
	color: white;
	background-attachment: fixed;
}

input{
  border-radius:10px;
}

a{
	color:white;
}


//navigation bar

ul[class="nav"] {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li[class="nav"] {
    float: left;
	float: top;
	list-style-type: none;
}

 a[class="nav"] {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
 a[class="nav"]:hover {
    background-color: #111;
}


//profile navigation

ul[class="profile_nav"] {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #233;
}

li[class="profile_nav"] {
    float: right;
	float: top;
	list-style-type: none;
}

 a[class="profile_nav"] {
    display: block;
    color: white;
    
    padding: 14px 16px;
    text-decoration: none;
}

 a[class="profile_nav"]:hover {
    background-color: #111;
}

//status space


div.status_space{
	float:left;
}

input.status_box{
	float:left;
}